#title {
    width: 500px;

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

#kusoge{
    border: solid;
    border-color: black;
    width: 500px;
}