#title {
    text-align: center;
}

#suwa_op {
    width: 350px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
}

#jstext {
    width: 100px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

#twtext {
    width: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

#yttext {
    width: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

#dctext {
    width: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

#muetext {
    width: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 48%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

#cb {
    border-style: solid;
    border-width: 1px;
    border-color: black;

    width: 500px;
    height: 1000px;
}

#jshd {
    float: right;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 300px;
    margin-left: 15px;
    padding: .8em 1.2em;
    border-radius: 5px;
    background-color: #a4a63a;
    color: #333333;
}

#jshd::before {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    background-color: #a4a63a;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

.body {
    position: relative;
    overflow: hidden;
}